<!-- ko with: home -->
<div class="jumbotron" style="background:url(../../Content/networking-world.png); color:#FFF;">
    
    <br /><br /><br /><br /><br /><br /><br />
   
   </div>
<div>
    <h1> Telecom Italia </h1>
    <p class="lead">We have used Teecom Italia dataset for prediction. Some random shht here</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Predict &raquo;</a></p>
</div>
<div class="row" style="height:50%; border:double;">
    <div class="col-md-4">
        <h2>Summary</h2>
        <p>This section shows the summary section of our analysis.</p>
        <p data-bind="text: myHometown"></p>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4" style="border:medium;border-color:black;">
        <h2>Visualizations</h2>
        <p>
            Original data and its visualization.
        </p>
        <button class="btn btn-default" data-toggle="collapse" data-target="#demo">Learn More</button>
        <div id="demo" class="collapse">
            Click on folllowing to view
        </div>
    </div>

    <div class="col-md-4">
        <h2>Evaluate Models</h2>
        <p>Evaluation of models and their values.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
